@import '../abstract/variaveis';

nav{   
    ul{
        display: flex;
        justify-content: center;
    }
    li{
        padding: 1rem;
        a{
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            color: $cor-primaria;
            &:hover{
               border-bottom:2px solid $cor-secundaria; 
            }
        }
    }
}

// .nav-list{
//     display:flex;
// }